*:focus {
    outline: none;
}
.nav{
    position: absolute;
    right: 15px;
    top: 21px;
    display: flex;
}
.nav_text{
    color: #5F6368;
    padding-right: 21px;
    font-size: 15px;
    
}
.custombut{
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    text-align: center;
    font-family: arial,sans-serif;
    font-size: 14px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    cursor: pointer;
    margin: 11px 4px;
    padding: 0 16px;
    margin-top: 21px;
}
.customadvsbut{
    background-color: #4d90fe;
    color:#fff;
    border-color: #3079ed;
    text-align: center;
    font-family: arial,sans-serif;
    font-size: 14px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    cursor: pointer;
    margin: 11px 4px;
    padding: 0 16px;
}
.image{
    height: 92px;
    width: auto;
    margin-top: 200px;
    align-content: center;
    margin-bottom: 30px;
}
.image_adv{
    height: 32px;
    width: auto;
    margin-top: 15px;
    margin-left: 15px;

}
.nav_adv{
    background: #f1f1f1;
    margin-bottom: 20px;
    height: 60px;
}
.searchbox{
    border: 1.5px solid;
    border-color: #dfe1e5;
    border-radius: 20px;
    width: 30%;
    min-width: 150px;
    height: 45px;
    box-shadow: none;
    box-sizing: border-box;
    padding-left:40px;
}
.content_adv{
    padding-left: 40px;
    padding-top: 30px;
    color: #222;

}
.searchbox_Adv{
    border: 1.75px solid;
    border-color: #dfe1e5;
    height: 30px;
    width: 100%;
    margin-bottom:12px;
    box-shadow: none;
    box-sizing: border-box;
    padding-left:5px;
}
.searchbox_Adv:focus{
    outline: blue;
}
.label_adv{
    vertical-align: middle;
    line-height: 30px;
    font-size: 14px;
    font-family: arial,sans-serif;
    margin-bottom:12px;
    white-space: nowrap;
}
